@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply bg-[#0c0c0c];
  @apply text-neutral-300;
}

.links>a {
  position: relative;
  color: @apply text-neutral-300;
  text-decoration: none;
}

.links>a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.links>a:hover::before {
  transform: scaleX(1);
}
